fastapi==0.135.1
uvicorn==0.42.0
python-dotenv==1.2.2
groq==1.1.2
pydantic==2.12.5
python-multipart==0.0.22
chromadb
langchain-text-splitters
sentence-transformers
pypdf
requests
huggingface-hub
pysqlite3-binary
